{% extends "tcms_base.html" %}
{% load static %}

{% block subtitle %}Kiwi {% endblock %}

{% block custom_stylesheet %}
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block contents %}

<div id="content" >
	<div class="listinfo_content listinfo_index">
		<div class="leftlistinfo">
			<table cellpadding="0" cellspacing="0" class="home_table" style="margin-left:10px;">
				<tr>
					<th style="min-width:100px"><div class="sprites tableheader"> <div class="sprites tableheaderleft">PRODUCTS</div></div></th>
					<th class="sprites tableheader" align="left">       </th>
					<th class="sprites tableheader" align="left">       </th>
					<th><div class="sprites tableheader" align="left">      <div class="sprites tableheaderright"></div></div></th>
				</tr>

				{% for product in products %}
				<tr class="{% cycle 'odd' 'even' %}">
					<td height="25"><a class="link" href="{% url "testruns-all"%}?product={{product.0}}">{{product.1}}</a></td>

				</tr>
				{% endfor %}

				<tr>
					<th colspan="4">
						<div class="sprites tablefooter">
                            <div class="left_float">You manage {{product_count}} Products.</div>
							<div class="sprites tablefooterleft"></div>
							<div class="sprites tablefooterright"></div>
						</div>


					</th>
				</tr>
				</table>
		</div>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
